.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

form .dropdown {
  position: absolute;
}

.dropdown {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 20px 20px;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.searchBar {
  min-height: 44px;
  border-radius: 0.25rem;
  padding: 0 40px;
  width: 100%;
  border: #cecccc solid 1px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1); */
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 13px;
}