.Suggestions {
  text-align: left;
  margin: auto;
}

.info {
  margin: 15px 0;
}

@media only screen and (min-width: 992px) {
  .card-body.info-body {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

@media only screen and (max-width: 992px) {
  .info-card-text {
    display: block;
  }

  .info > .row {
    max-width: 95%;
    margin: auto;
  }
}

div > .info-item {
  width: 18rem;
  max-width: 45%;
  margin: 0.7rem auto;
}

.btn.info-item {
  background-color: purple;
}

.btn.info-item:hover {
  background-color: rgb(99, 0, 99);
}

.btn.info-item:focus {
  background-color: rgb(65, 0, 65);
}

.card-body.info-body {
  padding: 10px;
}

.info-card-amount {
  color: purple;
  font-size: x-large;
  text-align: right;
  width: fit-content;
}

.info-card-text {
  font-weight: 600;
  font-size: large;
}

.btn > svg {
  margin-right:10px;
}