img {
  width: 100px;
}

.ingredient-item {
  padding: 10px 0px;
  text-align: center;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  white-space: normal;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image-container {
  margin: auto;
  border-radius: 50%;
  border: 1px solid rgb(238, 238, 238);
  width: 100px;
  height: 100px;
  position: relative;
}

.image {
  padding: 16px;
  display: block;
}

.image-container .bonus-badge {
  position: absolute;
  right: -20px;
  top: 10px;
  background-color: orangered !important;
}

.image-container .amount-badge {
  position: absolute;
  left: 7px;
  bottom: 0px;
  border-radius: 50%;
  background-color: rgb(81, 156, 255) !important;
}

.alternatives-button {
  position: absolute;
  left: 7px;
  top: 0px;
  border-radius: 50%;
  border: 1px solid rgb(194, 192, 192);
  background-color: white;
  padding: 3px;
  cursor: pointer;
}

.param-button {
  position: absolute;
  right: 7px;
  bottom: 0px;
  border-radius: 50%;
  border: 1px solid rgb(194, 192, 192);
  background-color: white;
  padding: 3px;
  cursor: pointer;
}

.alternatives-button:hover,
.param-button:hover {
  background-color: #dfdfdf;
}

.price-integer {
  font-size: 24px;
  font-weight: 600;
}

.price-decimal {
  font-size: 13px;
  right: 3px;
  top: -7px;
  position: relative;
  font-weight: 600;
  margin-right: 4px;
}

.unit-size {
  font-size: 11px;
  position: relative;
  color: rgb(109, 109, 109);
  right: -3px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bonus {
  color: orangered;
}

.normal-price {
  text-decoration: line-through;
  font-size: 12px;
  color: rgb(46, 46, 46);
  margin-right: 3px;
}