.card.recipeCard {
    width: 25rem;
    max-width: 90%;
    margin: 10px auto;
}

.card .card-title {
    font-size: x-large;
}

.card .ingredients-title {
  color: purple;
}

.ingredients {
    padding: 12px 0;
    text-align: left;
}

.ingredient {
    min-height: 30px;
    padding: 4px 16px;
}

.item {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.itemBonusBadge {
    margin-left: 8px;
}

.itemDetails {
    display: flex;
    justify-content: space-between;
}

.itemPrice {
    color: rgb(94, 94, 94);
}

.itemUnitSize {
    color: rgb(94, 94, 94);
}

.btn.card-button-delete {
    width: 34px;
    height: 34px;
    background-color: rgb(133, 0, 0);
    padding: 0 32px 3px 8px;
}

.btn.card-button-second {
    width: 34px;
    height: 34px;
    background-color: purple;
    padding: 0 32px 3px 8px;
    margin-left: 10px;
}

.full-price {
    color: rgb(80, 80, 80);
    font-size: 16px;
    text-align: right;
    text-decoration: line-through;
}

.current-price {
    color: purple;
    font-size: 22px;
    text-align: right;
    margin-left: 10px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.suggestion-card-body {
    display: flex;
    flex-direction: column;
}

.card-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
