.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }

.dropdown {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0;
    z-index: 1;
    width: 100%;
    border-radius: 0 0 20px 20px;
    text-align: left;
}

.dropdownItem {
    min-height: 30px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
}

.dropdownItemText {
    padding: 0 10px;
}

.dropdownItemBonusBadge {
    margin-left: 8px;
}

.dropdownItem:hover {
    background-color: #e7e7e7;
}

.dropdownItemButton {
    margin-left: auto;
}

.searchBar {
    min-height: 44px;
    border-radius: 15px;
    padding: 0 40px;
    width: 100%;
    border: #bfa8a8 solid 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 13px;
}