.ingredients {
  padding: 12px 0;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.ingredient-list-container {
  display: flex;
}

.ingredient-list {
  white-space: nowrap;
  overflow-x: hidden;
  display: flex;
}

.ingredients-title {
  text-align: center;
}

.ingredient-list-arrow-button {
  background-color: white;
  padding: 5px 3px 3px 5px;
  cursor: pointer;
  height: fit-content;
  margin: auto 5px;
}

@media screen and (max-width: 768px) {
  .ingredient-list-arrow-button {
    display: none;
  }

  .ingredient-list {
    overflow-x: auto;
    padding: 0 20px;
  }

  .suggestion-card-body.modal-body {
    padding: 0;
  }

  .current-price {
    margin-right: 20px;
  }

  .ingredients {
    padding: 0;
  }
}