.ingredients {
  padding: 12px 0;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.ingredient-group {
  border-bottom: rgb(197, 197, 197) 1px solid;
}

.ingredient {
  min-height: 30px;
  padding: 4px 16px;
}

.ingredient-item {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.ingredient-item-info-container {
  display: inline-block;
  flex-grow: 1;
  margin-left: 20px;
}

.ingredient-item-image {
  display: inline-block;
}

.ingredient-item-info {
  display: flex;
  justify-content: space-between;
}

.ingredient-item-info-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredient-item-or {
  cursor: pointer;
  display: inline-block;
}

.ingredient-item-close {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

.ingredient-price {
  color: rgb(94, 94, 94);
}

.ingredient-unit-size {
  color: rgb(94, 94, 94);
}

.ingredient-or-divider {
  text-align: center;
  color: purple;
  font-weight: bold;
  margin: -10px;
}
